/privatesky
node_modules
/ethereum-anchoring
/quorum-docker
/network
/env.json.devel
/.idea
/tmp
/configs/*-config.json
/client-node/qdata
!/client-node/qdata/cleaf/*.md
!/client-node/qdata/ddleaf/*.md
