# copied from quorum-docker/ethAdapter/template/docker-compose.yml.template at e8b03aa15523263de739985ba5981df50c179b23
version: "2.3"
services:
  ethAdapter:
    image: ethadapter:latest
    build: .
    container_name: ethAdapter
    hostname: ethAdapter
    restart: "unless-stopped"
    #ports: # CTR already has a service on port 3000. Keep using the private 172.16.16.16:3000 address
    #  - "3000:3000"
    environment:
      - RPC_ADDRESS=http://node1-qbn:8545
      - SMARTCONTRACTADDRESS=%SMARTCONTRACTADDRESS%
      - 'SMARTCONTRACTABI=%SMARTCONTRACTABI%'
      - 'ORGACCOUNT=%ORGACCOUNT%'
    networks:
      qbn-net:
        ipv4_address: 172.16.16.16

networks:
  qbn-net:
    name: qbn-net
    driver: bridge
    # The quorum services should have created the network, and its them that should delete them.
    external: true
    ipam:
      driver: default
      config:
        - subnet: 172.16.16.0/24
